body {
  background-color: white;
  font-family: 'Courier New', monospace;
  color: midnightblue;
}

h1 {
  margin-left: 20px;
}

input[type=text] {
	height: 40px;
	border-style: inset;
	padding: 5px;
	margin-top: 5px;
	resize: vertical;
	font-size: 120%;
}

label {
	display: block;
}	

#tite {
	width: 50%;
}

#bod {
	width:90%;
	height:200px;
	margin-top: 5px;
	padding: 5px;
}

div {
	margin: 5px 5px 5px 5px;
}


.maindiv {
	margin: 0px 0px 0px 10px;
	background-color: aliceblue;
	padding: 10px;
	font-size: 105%;
}

#md{
	margin: 0px 0px 0px 10%;
}

#qanda {
	margin: 10px 10px 10px 15px;
	border-style: transparent;
	border-radius: 2px;
	padding: 10px 10px 10px 10px;
	background-color: white;
	line-height: 1.5;
}

.qanda {
	margin: 5px;
	padding: 7px;
	background-color:white;
}

.domanda {
	padding: 5px;
	padding-left: 10px;
	color: DarkBlue;
	font-size: 105%;
}

span {
	display: inline-block;
}

.paragraphtitle {
	border-radius: 2px;
	font-size: 130%;
	margin-top: 10px;
	margin-bottom: 5px;
	padding: 10px 10px 5px 5px;
	display: inline-block;
	text-shadow: 2px 2px lightgrey;
}

.header {
  margin: 0px;
  padding: 10px;
  padding-top: 20px;
  text-align: center;
  background: transparent;
  font-size: 150%;
  letter-spacing: 5px;
}

a {
	font-size: 80%;
	color: navy;
}








