body {
  background-color: #090116;
  background-image: url("images/stellina-scuro.svg");
  background-repeat: repeat;
  background-position: top left;
  background-size: 20px 20px;
  font-family: 'Courier New', monospace;
  color: white;
}

main {
	margin: 0px 0px 0px 10px;
	background-color: rgba(25, 25, 112, 1);
	padding: 10px;
	font-size: 100%;
}

h1 {
  margin-left: 20px;
}

input[type=text] {
	height: 40px;
	border-style: inset;
	padding: 5px;
	margin-top: 5px;
	resize: vertical;
	font-size: 120%;
}

label {
	display: block;
}	

#tite {
	width: 50%;
}

#bod {
	width:90%;
	height:200px;
	margin-top: 5px;
	padding: 5px;
}

div {
	margin: 5px 5px 5px 5px;
}

#md{
	margin: 0px 0px 0px 20%;
	background-color: rgb(25, 25, 112, 0.5);
}

.qanda {
	margin: 10px;
	margin-right: 20%;
	border-style: outset;
	border-color: #070024;
	border-radius: 2px;
	padding: 10px;
	background-color: #09002f;
	line-height: 1.5;
}

.domanda {
	border-style: transparent;
	border-radius: 5px;
	background-color: #0a38e0;
	padding: 5px;
	padding-left: 10px;
	color: white;
	font-size: 105%;
}

span {
	display: inline-block;
}

.paragraphtitle {
	background: #D76414;
	border-radius: 2px;
	font-size: 130%;
	margin-top: 15px;
	margin-bottom: 5px;
	color: white;
	padding: 10px 15px 5px 5px;
	display: inline-block;
	box-shadow: 3px 3px #09002f;
	text-shadow: 2px 2px #C35000;
}

.header {
  margin: 0px;
  padding: 10px;
  padding-top: 20px;
  text-align: center;
  background: transparent;
  color: white;
  font-size: 150%;
  letter-spacing: 5px;
}

button {
	background: #0a38e0;
	border-radius: 5px;
	border-color: #092eb8;
	color: white;
	font-family: 'Courier New', monospace;
}

button:hover {
	background-color: #0f43ff;
}

a {
	color: red;
}








